{% extends 'docrootcms_blog/_base.html' %}
{% load conversions %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ object.author }}
            {% time_since object.created_date as elapsed_time %}
            {% if elapsed_time %} • {{elapsed_time}} ago{% endif %}</p>
        <p class="card-text ">{{ object.content | markdown_to_html | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'docrootcms_blog/sidebar.htm' %} {% endblock sidebar %}
  </div>
</div>
{% endblock content %}